{% extends 'base.html' %}
<!-- {% import 'macros.html' as macro%} -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/articles.css') }}">
{% endblock %}

{% block content %} 

<div class="container-fluid">
    <h4 class="text-center"> Review articles here</h4>
    <br>
    <div class="row">
        {% for article in articles %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{article.urlToImage}}" class="card-img-top img-responsive" alt="article image">
                    <div class="card-body">
                        <div class="author">{{article.author}} </div>
                        <a href="{{article.url}}" target="blank"> </a>
                        <h5 class="card-title"> {{article.title}}</h5>
                        <br>
                        <h6 class="card-bottom">Published on: {{article.publishedAt}}</h6>
                        <br>
                        <p class="card-text"> {{article.description}} </p>
                        <br>
                        <a href="{{article.url}} " class="card-link">View article</a>
                    </div>
                </div>
            </div>
        {% endfor %} 
    </div>
</div>

{% endblock %}  