<!-- {% macro displayNewsList(news_list) %} 

{% for sources in news_list %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="language">{{sources.language}} </div>
                <a href="{{sources.url}}" target="blank"> </a>
                <h5 class="card-title"> {{sources.name}}</h5>
                <p class="card-text"> {{sources.description}} </p>
                <br>
                <a href="/news/ {{sources.id}} " class="card-link">View article</a>
            </div>
        </div>
    </div>
{% endfor %} 
{% endmacro %} -->
